.cover {
    height: 500px;
    background-image:url("./images/clubanimal1jpg.jpg") ;
    color: white;
    background-size:cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode:darken ;
    
}

.rubik-regular {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}

.nav-link{
    color: orange;
}

.card{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0, 2px 4px -1px rgba(0, 0, 0, 0.6);
}

.row {
    width: auto; margin: auto auto
}

.center{
    display: flex;
    justify-content: center;
}

.card-tittle{
    min-height: 3.5rem;
}

.card-text{
    min-height: 10rem;
}



.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.img-svg{
 width: 300px;
 height: 300px;
}

.align-cards{
    display: flex;
    align-items: center;
    
}


.stripe-container, .slider-container{
    display: flex;
 
}

.product-stripe, .slider{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.responsive-iframe{
    position:relative;
    padding-top:56.25%;
}
.responsive-iframe iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.slider{
    overflow-x: hidden;
}

.slider-container {
    transform: translateX(0);
    animation: slider 10s infinite;
}

.image-container{
 width: 100%;
 padding-top: 56.25%;
 background-size: cover;
 background-position:center;
 flex-shrink:0 ;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-100%);
    }
}